body {
  background-image: url(images/miasto.jpg);
  background-attachment:fixed;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  color: white;
}

h1 {
  font-size: 90px;
  font-weight: normal;
  width: 960px;
  margin: 0 auto;
  padding-top: 10%;;
}

hr {
  color: white;
  width: 55%;
}

ul {
  list-style-type: none;
  margin: 0px;
}

ul > a > li {
  float: left;
  padding: 25px;
  color: white;
}

ul > a > li:hover
{
  background-color: #6f6c6c;
  text-decoration: none;
  color: white;
}

.contentA {
  height: 1200px;
  background-color: #2c3e50;
  opacity: 0.95;
  text-align: center;
  font-size: 90px;
}

.contentB {
  height: 1200px;
  background-color: #7f8c8d;
  text-align: center;
  font-size: 90px;
}

.contentC {
  height: 500px;
}

#nav {
  width: 100%;
  background-color: #8211b8;
  position: fixed;
  z-index: 100;
}

#motto {
  color: white;
  font-size: 40px;
  font-style: italic;
  padding-top: 20%;
  margin-left: 45%;
  margin-right: 15%;
  text-align: right;
}

.box {
  padding-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 30px;
}

#squares {
  width: 60%;
  margin: 8% auto;
}

.project {
  float: left;
  width: 33%;
  margin: 0 auto;
}

#social {
  text-align: center;
  line-height: 50px;
  font-size: 35px;
  float: left;
}

#fb {
  width: 50px;
  height: 50px;
  background-color: #4668b3;
  color: white
}
#fb:hover
{
  background-color: #3557a2;
  text-decoration: none;
  color: white;
}

#tw {
  width: 50px;
  height: 50px;
  background-color: #3095d3;
  color: white
}
#tw:hover
{
  background-color: #2f84c2;
  text-decoration: none;
  color: white;
}

#gplus {
  width: 50px;
  height: 50px;
  background-color: #d95333;
  color: white
}
#gplus:hover
{
  background-color: #c84222;
  text-decoration: none;
  color: white;
}

#git {
  width: 50px;
  height: 50px;
  background-color: #1b2029;
  color: white
}
#git:hover
{
  background-color: #0a1f18;
  text-decoration: none;
  color: white;
}

.ups {
  font-size: 50px;
  color: white;
  text-decoration: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 20;
}
.ups:hover
{
  text-decoration: none;
  color: #6f6c6c;
}

#coop {
  width: 700px;
  font-size: 30px;
  margin-left: 360px;
  text-align: center;
  float: left;
}

#mail {
  color: #0851c2;
}
#mail:hover
{
  color: #458cf8;
}

#footer {
  background-color: #c0392b;
  color: white;
  text-align: center;
  padding: 30px;
}
