// Fonts
$primaryFont: 'Roboto Mono', Arial, sans-serif;
$colorFont: #fff;

// Colors
$primaryColor: #9f449b;
$secondaryColor: #eeeeee;
$figureColor: #938d8d;

// Media Device Breakpoints
$mobile               : 500px;
$large-mobile         : 678px;
$tablet               : 768px;
$desktop              : 960px;
$large-desktop        : 1280px;
